{% extends 'base.html' %}

{% block content %}
  <div class="d-flex flex-column align-items-center mt-5 px-3">

      <a href="{% url 'admin:index' %}" 
         class="btn btn-outline-primary btn-lg mb-4 text-center"
         style="min-width: 300px; max-width: 350px; width: 100%;">
        Admin Panel
      </a>

      <a href="{% url 'ticketing:home_ticketing' %}" 
         class="btn btn-outline-primary btn-lg mb-4 text-center"
         style="min-width: 300px; max-width: 350px; width: 100%;">
        Helpdesk
      </a>

      <a href="{% url 'inventory:home_inventory' %}" 
         class="btn btn-outline-primary btn-lg mb-4 text-center"
         style="min-width: 300px; max-width: 350px; width: 100%;">
        Inventory Management
      </a>
  </div>
{% endblock %}